
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: intern
      POSTGRES_PASSWORD: "intern123"
      POSTGRES_DB: intern_db
    ports:
      - "5432:5432"
    volumes:
      - /Users/govindloharpersonal/Desktop/postgres-container-volume:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  project:
    build:
      context: ./ 
      dockerfile: Dockerfile
    
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
